<div class="container trending-users">
    <h1>Trending Users</h1>
    <br>
    <% @users.each do |user| %>
        <h2><strong><%= link_to user.profile.username, user %></strong> - <%= pluralize(user.followers.count, "follower") %></h2>
    <% end %>

    <nav>
        <br><br>
        <%= link_to 'Back', :back, class: 'btn btn-primary'%>
    </nav>
</div>